.modal {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y:auto; 
    // padding-right: 0 !important;
    padding-top: 20.4rem;
    padding-bottom: 3rem;
    z-index: 1200;
    display:none;
}