.form__checkbox {
    position: absolute;
    width: .1rem;
    height: .1rem;
    margin: -.1rem;
    padding:0;
    clip:rect(0 0 0 0);
    overflow: hidden;

    &:checked+.form__text:before {
        background: #576077 url('../img/form/check.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size:70%;
    } 
}

// @media(max-width:48em){
//     .form__checkbox {
//         margin-left: 7rem;

    
//     }
// }
