.form__item {
    
display: flex;
    &:first-child {
        margin-bottom: 2.3rem;
    }
}

@media(max-width:48em){
    .form__item {
        display: block;
        width: 100%;
        &:first-child {
            margin-bottom: 3rem;
        }
        
        // flex-direction:column;
    }

    .form__item:nth-child(2)  {
        margin-left: 4rem;

    
    }

    

}