.select__header {
    display: flex;
    align-items: center;
    
    img {
        width: 1.8rem;
        height: 3.8rem;
        flex-shrink: 0;
        margin-left: .8rem;
        margin-top: .3rem;
    }
}