.catalog__wrap {
    display: grid;
    grid-template-columns: repeat(4, 28.1rem);
    gap:3rem 1.6rem;
    margin-bottom: -2rem;
}

@media (max-width: 48em){
    .catalog__wrap {
    grid-template-columns: repeat(2,1fr);
    gap:7rem 2.2rem;
    margin-bottom:0;
}
}