.facts__open {
    width: 3rem;
    height: 3rem;
    @include centered;

    img {
        width: 60%;
        height: 60%;
    }
}
@media(max-width:48em) {
.facts__open {
    width: 4.2rem;
    height: 4.2rem;
    @include centered;

    // img {
    //     width: 100%;
    //     height: 100%;
    // }
}
}