.form__header {
    @include font(900,4.4rem,120%);    
    margin-bottom: 0.9rem;
    max-width: 58.4rem;
}

@media(max-width:48em){
    .form__header {
        @include font(900,5.6rem,120%);  
        // width: 55.4rem;
        margin:0 auto;
        margin-bottom: 1.2rem;
        text-align: center;
    }
}