.form__wrapper--style{
    background: url('../img/form/bg-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3.6rem 8.4rem -2.4rem rgba(43, 51, 80, 0.5);
    border-radius: 1.6rem;
}

@media(max-width:48em){
    .form__wrapper--style{

        border-radius: 0;
        overflow: hidden;

    }
}