.facts__answer {
@include font (400,1.9rem, 140%);   
// padding-bottom: 3.3rem;
padding-bottom: 1.3rem;
// padding-left: 3.2rem;
padding-right: 6.7rem;
display: none;
}

@media (max-width: 48em) {
    .facts__answer {
        padding-right: 0;
        @include font(400,2.6rem,120%)
    }

}