.form__label {
    // width: 42.3rem;
    // height: 8.1rem;
    position: relative;
    z-index: 100;

    &:nth-child(1) {
        .form__input--style {
            background: url('../img/form/user.svg') #576077;
            background-repeat: no-repeat;
            background-size: 2.4rem;
            background-position-y: 50%;
            background-position-x:3.4rem;
        
    }
    }

    &:nth-child(2) {
        margin-left:1.4rem;
        margin-right:1.4rem;
        .form__input--style {
            background: url('../img/form/phone.svg') #576077;
            background-repeat: no-repeat;
            background-size: 2.4rem;
            background-position-y: 50%;
            background-position-x:3.4rem;
        
    }
    }
    
}

@media(max-width:48em){
    
    .form__label {
        // margin:0 auto;
        &:nth-child(1) {
            .form__input--style {
                margin-bottom: 2.4rem;
                margin-left: 0;
                background-size: 4rem;
                background-position-x: 4.6rem;
            }
    }

        &:nth-child(2) {
            .form__input--style {
                margin-bottom: 2.4rem;
                margin-left: 0;
                background-size: 4rem;
                background-position-x: 4.6rem;
            }
    }
}
}