*, 
*::after, 
*::before{
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}


html {
  font-size: 0.520835vw;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

body {
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  color: $color-text-black;
  background-color: #FFFFFF;
  // overflow-y: visible !important;
}

a,
a:hover {
  text-decoration: none;
}

input, textarea {
  line-height:inherit;
  margin: 0;
  padding: 0;
}


input, 
button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button, input , a, textarea {
  outline: none;
  cursor: pointer;
  font:inherit;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font:inherit;
  margin: 0;
  padding: 0;
}


p {
  margin-top:0;
  margin-bottom: 0;
}

code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: inherit; 
}

button {
  border: none;
  color:inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
  text-rendering: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -weblit-appearance:none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.container {
  width: 117rem;
  margin: 0 auto;
}


@media (max-width: 48em) {
  html {
    font-size: 1.5625vw;
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 3.2rem;
    width: 100%;
  }  
}


