.footer__wrap {
    display: flex;
    justify-content: space-between;
    margin-left: 36.3rem;
    margin-top: 6.6rem;
    
    // position: relative;
}

@media (max-width: 48em) {
    .footer__wrap {
      display: block;
      margin:0 auto;
      padding-top: 7.2rem;
      padding-left: 3.2rem;
      text-align: left;
    //   justify-content: space-between;
    //   position: relative;
    }
  }