.slider__arrow-left {
    position: absolute;
    left:4.6rem;
    top:47%;
    transform: translate(0, -50%);
    z-index: 100;
}

@media (max-width: 48em) {
    .slider__arrow-left {
        display: none;
       
    }
  } 