.header {
    position: relative;
    padding-top: 1.8rem;
    padding-bottom:1rem;
}

// @media (max-width: 48em) {
//         .header {
//            position:absolute;
//            top: 0;
//            left: 0;
//            width: 100%;
//            z-index: 100;
//     }
// }