.cart__img {
    width: 27.8rem;
    height: 32.9rem;
    margin-bottom: 5.5rem;
}

@media (max-width: 48em) {
    .cart__img {
        // height: 16.5rem;
        // width: 13.9rem;
        margin-bottom:0;
    }
    
}