.header__button {
  @include font(500, 1.6rem, 140%);
  padding: 1.35rem 2.85rem 1.55rem;
}
.header__button:hover {
  text-decoration: underline; 
}

@media (max-width: 48em) {
  .header__button {
    display: none;
  }
}