.facts__item--active {
    padding: 2.2rem 3.1rem 2rem 3rem;
    background-color:  #F5F6FA;
    box-shadow: 0 2rem 5.2rem -.8rem rgba(0, 0, 0, 0.15);
    transition: 1s;
  
}

@media (max-width: 48em) {
    .facts__item--active {
    padding: 3rem 3rem 2rem 3rem;
    
    }
}

